<!DOCTYPE html>

<html>
<head>
    <title>Hakkımda</title>
    <link rel="icon" href="/img/weather.png">
 <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
        Bu websitede kullanılan veriler , mapbox.com ve darksky.net siteleri tarafından sağlanmaktadır.
        </p>
         
        <p>
            <div>Amin Ghanbari</div>
            <div>Ege Üniversitesi 3.sınıf bilgisayar Müh. Öğrencisi
            Aminghanbari@hotmail.com</div>
            <img class="portrait" src="/img/pp.jpg" alt="alt">
            
            
        </p> 
    </div>


{{>footer}}
</body>


</html>