<!DOCTYPE html>

<html>
<head>
    <title>Hakkımda</title>
    <link rel="icon" href="/img/weather.png">
 <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/pp.jpg" alt="alt"> 
        <p>
            Amin Ghanbari -
            Ege Üniversitesi 3.sınıf bilgisayar Müh. Öğrencisi
            Aminghanbari@hotmail.com
        </p> 
    </div>


{{>footer}}
</body>


</html>