<!DOCTYPE html>

<html>
<head>
    <title>Yardım</title>
    <link rel="icon" href="/img/weather.png">
 <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">

        {{>header}}
        <p>{{helpText}}</p>

        <p>
                kullanınal API'lar      
        </p>
        <p>
                 Siteyi kullanma klavuzu
        </p>
</div>
  

{{>footer}}
</body>


</html>